<h1> Holita desde el server </h1>
<div class='container-products' id='container-products'>
  {{#each productList}}
    <div class='card-product'>
      {{this.title}}
    </div>
  {{/each}}
</div>
<link rel='stylesheet' href='styles.css' />
<script src='/socket.io/socket.io.js'></script>
<script src='products.js'> </script>